.mov-container {
    width: 1200px;
    display: inline-grid;
    grid-template-columns: auto auto auto;
    padding: 5px;
    margin: 5px;
    column-gap: 50px;
    row-gap: 50px;
    padding: 60px;
}

.container {
    width : auto;
    display: inline-grid;
    grid-template-columns: auto auto;
    margin-left: 0px;
    padding-left: 0;
    justify-content:center;

}
